<!DOCTYPE html>
<html>
<head>
    <title>Three.js</title>
    <style type="text/css">
        html, body {margin: 0; padding: 0; overflow: hidden}
    </style>
</head>
<body>
<div id="webgl"></div>
<script src="/vendor/threejs/stats.js"></script>
<script src="/vendor/threejs/tween.min.js"></script>
<script src="/vendor/perlin.js"></script>
<script src="/vendor/dat.gui.js"></script>
<script src="/vendor/threejs/three.js"></script>
<script src="/vendor/RGBShiftShader.js"></script>
<script src="/vendor/VignetteShader.js"></script>
<script src="/vendor/threejs/EffectComposer.js"></script>
<script src="/vendor/threejs/RenderPass.js"></script>
<script src="/vendor/CopyShader.js"></script>
<script src="/vendor/ShaderPass.js"></script>
<script src="/vendor/OBJLoader.js"></script>
<script src="/vendor/threejs/OrbitControls.js"></script>
<script src="/javascripts/artestmain6.js"></script>
</body>
</html>