<body id="page-top" class="index">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img src="img\crow-logo.png" alt="CROW Logo"
                                                                      style="width:auto;height:40px;border:0;"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#overview">Overview</a>
                </li>
                <li>
                    <a class="page-scroll" href="#solutions">Solutions</a>
                </li>
                <li>
                    <a class="page-scroll" href="#learning">Learning</a>
                </li>
                <li>
                    <a class="page-scroll" href="#resources">Resources</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <!-- <li>
                <a class="page-scroll" href="#team">Team</a>
              </li> -->
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>

                <li>

                    <a href="#loginpop" class="solutions-link btn btn-primary btn-sm" data-toggle="modal"
                       style="border-radius: 3px;">Login</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">CROW Lab</div>
            <div class="intro-heading">SECURITY TOOLS</div>
            <a href="#solutions" class="page-scroll btn btn-xl">Jump to solutions</a>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="overview" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Overview</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="col-lg-12 text-center">
            <img src="img\Overview CROW.png" style="width:100%"/>
        </div>
        <div class="col-lg-12">
            <p class="text-muted">

                <br> <br>
                People and organisations are increasingly choosing to store their valuable data in the Cloud
                environment. But there is currently no way of knowing where your data goes. Who has access to it, how
                will you know if someone tries to copy one of your most precious assets and - most importantly - what
                can you do about it?
                <br>

            </p>
            <p class="font-weight-bold">
                We’re here to help.
            </p>
            <p class="text-muted">

                The Cyber Security Researchers of Waikato (CROW) aim to return the control of data to you, the data
                owner, by focusing on research addressing data security from a user-centric perspective.
                <br>
                <br>
                In 2013, CROW became the first cyber security lab established in a New Zealand educational institution
                as part of the Faculty of Computing and Mathematical Sciences at the University of Waikato. In the same
                year we launched New Zealand’s first Master of Cyber Security degree. We also host the annual New
                Zealand Cyber Security Challenge while the STRATUS research group holds an annual forum in Wellington.
                <br>
                <br>
                The STRATUS Forum aims to engage and familiarise New Zealand industry partners and end-users with the
                services and products being developed by STRATUS, a six-year, $12.2 million cyber security project,
                funded by the Ministry of Business, Innovation, and Employment (MBIE) and led by CROW’s Assoc Prof. Ryan
                Ko.
                <br>
                <br>
                Our alumni have gone on to work for key organisations involved in cyber security, including INTERPOL,
                the Cloud Security Alliance and the Gallagher Group and we look forward to providing many more students
                ready to play a leading role in this important and growing industry.
            </p>
        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section id="solutions">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Solutions</h2>
                <h3 class="section-subheading text-muted">Try it out!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 solutions-item">
                <a href="#solutionsModal1" class="solutions-link " data-toggle="modal">
                    <div class="solutions-hover">
                        <div class="solutions-hover-content">
                            <i class="fa fa-search-plus  fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/roundicons.png" class="img-responsive" alt="">
                </a>
                <div class="solutions-caption">
                    <h4>Visualprogger:Locky Analysis</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet,</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 solutions-item">
                <a href="#solutionsModal2" class="solutions-link" data-toggle="modal">
                    <div class="solutions-hover">
                        <div class="solutions-hover-content">
                            <i class="fa fa-search-plus  fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
                </a>
                <div class="solutions-caption">
                    <h4>VisualProgger:Real-time</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet,</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 solutions-item">
                <a href="#solutionsModal3" class="solutions-link" data-toggle="modal">
                    <div class="solutions-hover">
                        <div class="solutions-hover-content">
                            <i class="fa fa-search-plus  fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/treehouse.png" class="img-responsive" alt="">
                </a>
                <div class="solutions-caption">
                    <h4>Augmented Reality</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet,</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 solutions-item">
                <a href="#solutionsModal4" class="solutions-link" data-toggle="modal">
                    <div class="solutions-hover">
                        <div class="solutions-hover-content">
                            <i class="fa fa-search-plus  fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/golden.png" class="img-responsive" alt="">
                </a>
                <div class="solutions-caption">
                    <h4>Attribution</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet,</p>
                </div>
            </div>
            <!-- <div class="col-md-6 col-sm-6 solutions-item">
            <a href="#portfolioModal5" class="solutions-link" data-toggle="modal">
            <div class="solutions-hover">
            <div class="solutions-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div>
        <img src="img/portfolio/escape.png" class="img-responsive" alt="">
      </a>
      <div class="solutions-caption">
      <h4>Escape</h4>
      <p class="text-muted">Website Design</p>
      </div>
      </div> -->
            <!-- <div class="col-md-6 col-sm-6 solutions-item">
            <a href="#portfolioModal6" class="solutions-link" data-toggle="modal">
            <div class="solutions-hover">
            <div class="solutions-hover-content">
            <i class="fa fa-plus fa-3x"></i>
            </div>
            </div>
            <img src="img/portfolio/dreams.png" class="img-responsive" alt="">
            </a>
            <div class="solutions-caption">
            <h4>Dreams</h4>
            <p class="text-muted">Website Design</p>
            </div>
            </div> -->
        </div>
    </div>
</section>


<!--Learning Section-->
<section id="learning" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Learning</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <p>


                Something here


            </p>
        </div>
    </div>
</section>


<!--Resources-->
<section id="resources">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Resources</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <p>

                Something about resources here

            </p>
        </div>
    </div>
</section>


<!-- About Section -->
<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2009-2011</h4>
                                <h4 class="subheading">Our Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
                                    voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit
                                    vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>March 2011</h4>
                                <h4 class="subheading">An Agency is Born</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
                                    voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit
                                    vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 2012</h4>
                                <h4 class="subheading">Transition to Full Service</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
                                    voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit
                                    vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2014</h4>
                                <h4 class="subheading">Phase Two Expansion</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
                                    voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit
                                    vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<!-- <section id="team" class="bg-light-gray">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="section-heading">Our Amazing Team</h2>
<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
</div>
</div>
<div class="row">
<div class="col-sm-4">
<div class="team-member">
<img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
<h4>Kay Garland</h4>
<p class="text-muted">Lead Designer</p>
<ul class="list-inline social-buttons">
<li><a href="#"><i class="fa fa-twitter"></i></a>
</li>
<li><a href="#"><i class="fa fa-facebook"></i></a>
</li>
<li><a href="#"><i class="fa fa-linkedin"></i></a>
</li>
</ul>
</div>
</div>
<div class="col-sm-4">
<div class="team-member">
<img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
<h4>Larry Parker</h4>
<p class="text-muted">Lead Marketer</p>
<ul class="list-inline social-buttons">
<li><a href="#"><i class="fa fa-twitter"></i></a>
</li>
<li><a href="#"><i class="fa fa-facebook"></i></a>
</li>
<li><a href="#"><i class="fa fa-linkedin"></i></a>
</li>
</ul>
</div>
</div>
<div class="col-sm-4">
<div class="team-member">
<img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
<h4>Diana Pertersen</h4>
<p class="text-muted">Lead Developer</p>
<ul class="list-inline social-buttons">
<li><a href="#"><i class="fa fa-twitter"></i></a>
</li>
<li><a href="#"><i class="fa fa-facebook"></i></a>
</li>
<li><a href="#"><i class="fa fa-linkedin"></i></a>
</li>
</ul>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-8 col-lg-offset-2 text-center">
<p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
</div>
</div>
</div>
</section> -->

<!-- Clients Aside -->
<aside class="clients">

    <div class="container">
        <div class="row">

            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Partners</h2>

            </div>
        </div>
    </div>

    <div class="container">


        <div class="row">

            <div class="carousel slide" data-interval="1200" data-ride="carousel" id="myCarousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item row active">
                        <div class="col-xs-4"><img src="img/partnersLogo/ASB.png" style="max-width: 99%;height:100px;">
                        </div>

                        <div class="col-xs-4"><img src="img/partnersLogo/Callaghan Innovation.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/Connect Smart.png"
                                                   style="max-width: 99%;height:100px;"></div>
                    </div>

                    <div class="item row">
                        <div class="col-xs-4"><img src="img/partnersLogo/CS3.png" style="max-width: 99%;height:100px;">
                        </div>

                        <div class="col-xs-4"><img src="img/partnersLogo/CSA.png" style="max-width: 99%;height:100px;">
                        </div>

                        <div class="col-xs-4"><img src="img/partnersLogo/Endance.png"
                                                   style="max-width: 99%;height:100px;"></div>
                    </div>

                    <div class="item row">
                        <div class="col-xs-4"><img src="img/partnersLogo/Hewlett Packard Enterprise.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/IDP Education.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/Infocomm Development Authority Singapore.png"
                                                   style="max-width: 99%;height:100px;"></div>
                    </div>

                    <div class="item row">
                        <div class="col-xs-4"><img src="img/partnersLogo/Insomina.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/Institute of IT Professionals.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/Internetnz.png"
                                                   style="max-width: 99%;height:100px;"></div>
                    </div>

                    <div class="item row">
                        <div class="col-xs-4"><img src="img/partnersLogo/INTERPOL_0.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/iSANZ Award.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/ISC2.png" style="max-width: 99%;height:100px;">
                        </div>
                    </div>

                    <div class="item row">
                        <div class="col-xs-4"><img src="img/partnersLogo/ISO.png" style="max-width: 99%;height:100px;">
                        </div>

                        <div class="col-xs-4"><img src="img/partnersLogo/Kordia.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/Lateral Security.png"
                                                   style="max-width: 99%;height:100px;"></div>
                    </div>

                    <div class="item row">
                        <div class="col-xs-4"><img src="img/partnersLogo/LayerX.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/LIC.png" style="max-width: 99%;height:100px;">
                        </div>

                        <div class="col-xs-4"><img src="img/partnersLogo/Mahidol University Thailand.png"
                                                   style="max-width: 99%;height:100px;"></div>
                    </div>

                    <div class="item row">
                        <div class="col-xs-4"><img src="img/partnersLogo/mbie.png" style="max-width: 99%;height:100px;">
                        </div>

                        <div class="col-xs-4"><img src="img/partnersLogo/Nanyang Polytechnic Singapore.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/Nanyang Technological University Singapore.png"
                                                   style="max-width: 99%;height:100px;"></div>
                    </div>

                    <div class="item row">
                        <div class="col-xs-4"><img src="img/partnersLogo/National Cheng Kung University Taiwan.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/National University of Singapore.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/New Zealand Police.png"
                                                   style="max-width: 99%;height:100px;"></div>
                    </div>

                    <div class="item row">
                        <div class="col-xs-4"><img src="img/partnersLogo/NIATEC_149.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/NICT.png" style="max-width: 99%;height:100px;">
                        </div>

                        <div class="col-xs-4"><img src="img/partnersLogo/Nokia Bell Lab_370.png"
                                                   style="max-width: 99%;height:100px;"></div>
                    </div>

                    <div class="item row">
                        <div class="col-xs-4"><img src="img/partnersLogo/Office of the Privacy Commissioner.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/PwC.png" style="max-width: 99%;height:100px;">
                        </div>

                        <div class="col-xs-4"><img src="img/partnersLogo/SPRING Singapore .png"
                                                   style="max-width: 99%;height:100px;"></div>
                    </div>

                    <div class="item row">
                        <div class="col-xs-4"><img src="img/partnersLogo/Standards Australia.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/Standards New Zealand .png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/STRATUS_165.png"
                                                   style="max-width: 99%;height:100px;"></div>
                    </div>

                    <div class="item row">
                        <div class="col-xs-4"><img src="img/partnersLogo/Temasek Polytechnic Singapore.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/Thailand EGA.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/Unitec.png"
                                                   style="max-width: 99%;height:100px;"></div>
                    </div>

                    <div class="item row">
                        <div class="col-xs-4"><img src="img/partnersLogo/University of Auckland.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/University of Waikato.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/virscient logo.png"
                                                   style="max-width: 99%;height:100px;"></div>
                    </div>

                    <div class="item row">
                        <div class="col-xs-4"><img src="img/partnersLogo/Waikato DHB.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/Wynyard.png"
                                                   style="max-width: 99%;height:100px;"></div>

                        <div class="col-xs-4"><img src="img/partnersLogo/ZX Security.png"
                                                   style="max-width: 99%;height:100px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>

<!-- Contact Section -->

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2><br>
                <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name *" id="name" required
                                       data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" id="email" required
                                       data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required
                                       data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your Message *" id="message" required
                                          data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; CROW 2017</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://twitter.com/crowaikato"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/CROWaikato/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/company/15084280"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><img style="width:100%;margin-top:15px;" src="img/logos/CROW_Full-Logo-black.png"/></a>
                    </li>
                    <!-- <li><a href="#">Terms of Use</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- Portfolio Modal 1 -->


<div class="solutions-modal modal fade" id="loginpop" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style=" background:rgba(0,0,0,0.8);">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr" style=" background-color: #ffffff;">
                    <div class="rl" style="background-color: #ffffff;">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 style="color: #ffffff;">Welcome</h2>
                            <br>
                            <!--<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                            <!--&lt;!&ndash;<img class="img-responsive img-centered" src="img/portfolio/roundicons-free.png" alt="">&ndash;&gt;-->
                            <!--<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>-->
                            <!--<p>-->
                            <!--<strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>-->
                            <!--<ul class="list-inline">-->
                            <!--<li>Date: July 2014</li>-->
                            <!--<li>Client: Round Icons</li>-->
                            <!--<li>Category: Graphic Design</li>-->
                            <!--</ul>-->
                            <script src='https://www.google.com/recaptcha/api.js'></script>


                            <form method="post" action="/users/loginBackend" class="text-center">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="form-group text-center col-md-8">

                                        <label style="color: #ffffff;" for="exampleInputEmail1">Email
                                            address</label><br>
                                        <input name="username" type="text" class="form-control" id="exampleInputEmail1"
                                               aria-describedby="emailHelp" placeholder="Enter email">

                                        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                                    </div>
                                </div>


                                <br>

                                <div class="row">
                                    <!--<div class="col-md-3">-->
                                    <!--</div>-->
                                    <div class="col-md-2"></div>
                                    <div class="form-group text-center col-md-8">

                                        <label style="color: #ffffff;" for="exampleInputPassword1">Password</label><br>
                                        <input name="password" type="password" class="form-control"
                                               id="exampleInputPassword1" placeholder="Password">

                                    </div>

                                </div>

                                <br>
                                <div class="row center-block">


                                    <!--<div class="col-md-6 text-center"></div>-->
                                    <!--<div class="g-recaptcha" style="display: inline-block;" data-sitekey="6LdwBzwUAAAAAPA3xKJV4d5b5wQQ49f3sIYW9Clv"></div>-->

                                    <select class="custom-select d-block my-3" name="fsdf" required>
                                        <option value="">Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>

                                </div>


                                <!--<div class="form-check">-->
                                <!--<label class="form-check-label">-->
                                <!--<input type="checkbox" class="form-check-input">-->
                                <!--Check me out-->
                                <!--</label>-->
                                <!--</div>-->


                                <button type="submit" class="btn btn-primary">Log in</button>
                            </form>

                            <hr>

                            <div class="row">
                                <div class="col-lg-12 text-center">
<h3 class="section-subheading text-muted" style="color:white;">
                                  Need an account?<br><br>
                                    </h3>
                                </div>
                            </div>
                            <a type="button" class="btn btn-primary" href="/users/register"><i
                                    class="fa fa-times"></i> Register
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="solutions-modal modal fade" id="solutionsModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/roundicons-free.png" alt="">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <p>
                                <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of
                                them for free, courtesy of <a
                                    href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>,
                                or you can purchase the 1500 icon set <a
                                    href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                            <ul class="list-inline">
                                <li>Date: July 2014</li>
                                <li>Client: Round Icons</li>
                                <li>Category: Graphic Design</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="solutions-modal modal fade" id="solutionsModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Heading</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/startup-framework-preview.png"
                                 alt="">
                            <p><a href="http://designmodo.com/startup/?u=787">Startup Framework</a> is a website builder
                                for professionals. Startup Framework contains components and complex blocks (PSD+HTML
                                Bootstrap themes and templates) which can easily be integrated into almost any design.
                                All of these components are made in the same style, and can easily be integrated into
                                projects, allowing you to create hundreds of solutions for your future projects.</p>
                            <p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="solutions-modal modal fade" id="solutionsModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/treehouse-preview.png" alt="">
                            <p>Treehouse is a free PSD web template built by <a
                                    href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright and
                                spacious design perfect for people or startup companies looking to showcase their apps
                                or other projects.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a
                                    href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 4 -->
<div class="solutions-modal modal fade" id="solutionsModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/golden-preview.png" alt="">
                            <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by
                                <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a modern and
                                clean one page web template that was made exclusively for Best PSD Freebies. This
                                template has a great portfolio, timeline, and meet your team sections that can be easily
                                modified to fit your needs.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a
                                    href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 5 -->
<div class="solutions-modal modal fade" id="solutionsModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/escape-preview.png" alt="">
                            <p>Escape is a free PSD web template built by <a
                                    href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one page
                                web template that was designed with agencies in mind. This template is ideal for those
                                looking for a simple one page solution to describe your business and offer your
                                services.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a
                                    href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 6 -->
<div class="solutions-modal modal fade" id="solutionsModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/dreams-preview.png" alt="">
                            <p>Dreams is a free PSD web template built by <a
                                    href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a modern
                                one page web template designed for almost any purpose. It’s a beautiful template that’s
                                designed with the Bootstrap framework in mind.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a
                                    href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="/js/jqBootstrapValidation.js"></script>
<script src="/js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="/js/agency.min.js"></script>
