<body id="page-top" class="index">

{{# if sucess}}

    <section class="success">

        <h2>

            suchess
        </h2>


    </section>
{{else}}
{{# if errors}}


    <section class="errors">
        <ul>
            {{#each errors}}
                <li>{{this.msg}}</li>
            {{/each}}



        </ul>
    </section>

{{/if}}

    <form action="/testSubmit" method="post">
        First name:<br>
        <input type="text" name="email" value="">
        <br>
        Last name:<br>
        <input type="password" name="password" value="">
        <input type="password" name="cfmpassword" value="">
        <br><br>
        <input type="submit" value="Submit">
    </form>


{{/if}}




</body>