<body id="page-top" class="index">
<script>

    var test=[];

</script>

<script>

    console.log(test)
</script>
{{# if success}}

    <section class="success">

        <h2>

            suchess
        </h2>


    </section>
{{else}}
{{# if errors}}
    {{#each errors}}
        <script>
            test.push("{{msg}}");
        </script>

        {{/each}}

    <section class="errors">
        <ul>
            {{#each errors}}
                <li>{{msg}}{{param}}</li>
            {{/each}}



        </ul>
    </section>

{{/if}}


    <form action="/testSubmit" method="post">
        First name:<br>
        <input type="text" name="email" value="">
        <br>
        Last name:<br>
        <input type="password" name="password" value="">
        <input type="password" name="cfmpassword" value="">
        <br><br>
        <input type="submit" value="Submit">
    </form>

<button onclick="clikme()">fsdfs</button>

<script>
function clikme() {
    console.log("=====")
    for (var i =0;i<test.length;i++){

        console.log(test[i])
    }

}

</script>

{{/if}}




</body>