<body id="page-top" class="index">
<script>

    var test=[];

</script>

<script>

    console.log(test)
</script>
{{# if success}}

    <section class="success">

        <h2>

            Registration Sucessful
        </h2>


    </section>
{{else}}
    {{# if errors}}
        {{#each errors}}
            <script>
                test.push("{{msg}}");
            </script>

        {{/each}}

        <section class="errors">
            <ul>
                {{#each errors}}
                    <li>{{param}}: {{msg}}</li>
                {{/each}}



            </ul>
        </section>

    {{/if}}


    <form action="/registerForm" method="post">
        First name:<br>
        <input type="text" name="emailAddress" value="">
        <br>
        Last name:<br>
        <input type="password" name="password" value="">
        <input type="password" name="password_cfm" value="">


        <input type="text" name="testvar">

        <div class="row">
            <div class="form-check col-md-1 col-xs-2">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                           value="option1">
                    Yes
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label col-xs-2">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="option2">
                    No
                </label>
            </div>

        </div>


        <br><br>
        <input type="submit" value="Submit">
    </form>

    <button onclick="clikme()">fsdfs</button>

    <script>
        function clikme() {
            console.log("=====")
            for (var i =0;i<test.length;i++){

                console.log(test[i])
            }

        }

    </script>

{{/if}}




</body>