<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Source+Code+Pro:200,300,400,500,700" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Allerta Stencil' rel='stylesheet'>
		<link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/menuModal.css' />
		<link rel="stylesheet" href="/vendor/bootstrap-p/css/bootstrap.css">

		<script type="text/javascript" src="/vendor/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery.animateNumber.min.js"></script>
		<script type="text/javascript" src="/vendor/bootstrap-p/js/bootstrap.js"></script>
	</head>
  <body id="body">
		<div id="preload">
			<div class="logo">
				Visual Progger
			</div>
			<div class="loader-frame">
				<div class="loader1"></div>
				<div class="loader2"></div>
				<div class="loader3"></div>
			</div>
		</div>
    {{{body}}}
  </body>
</html>
